CLASS EXERCISE

Add up the following operands by adding the values alone as well as assigning the values to a variable. (a) 45, 56, 79 (b) 100, 350, 1285 (c) 70, 30

Subtract the following operands from each other. (a) 756-987 (b) 349-50 (c) 23-17

What is 15 to the power of 4?

What is the modulus of 67 divided by 18?

Are the division of "36 and 6" the same as their floor division? If no, state your reason.

The values that an operator act on are called _____?

Is x==5 the same as x=5? If no, state your reason

Can the subtraction operator act on a string value?

In [ ]:
1. Add up the following operands by adding the values alone as well as assigning the values to a variable. (a) 45, 56, 79 (b) 100, 350, 1285 (c) 70, 30

In [1]:
45+56+79                #adding values alone

180

In [ ]:
x = 45                  #assigning values  to a variable
y = 56
z = 79
addition = x+y+z
print(addition)

In [2]:
100+350+1285              #adding values alone

1735

In [3]:
x = 100                  #assigning values  to a variable
y = 350
z = 1285
print (x+y+z)

1735

2. Subtract the following operands from each other. (a) 756-987 (b) 349-50 (c) 23-17

In [4]:
756-987                #subtracting values alone

-231

In [5]:
a = 756                #assigning values  to a variable
b = 987
print(a-b)

-231

In [6]:
349-50                  #subtracting values alone

299

In [9]:
y = 349                 #assigning values  to a variable
x = 50
print (y-x)

299

In [8]:
23-17                   #subtracting values alone

6

In [10]:
x = 23                  #assigning values  to a variable
y = 17
print (x-y)

6

3. What is 15 to the power of 4?

In [11]:
15**4                     #subtracting values alone

50625

In [12]:
a = 15                  #assigning values  to a variable
b = 4
print(a**b)

50625

4. What is the modulus of 67 divided by 18?

In [15]:
67%18              #MODULUS

13

5. Are the division of "36 and 6" the same as their floor division? If no, state your reason.

In [16]:
36/6               #DIVISION

6.0

In [17]:
36//6             #FLOOR DIVISION

6

In [ ]:
The result are slightly different due to the datatype. The division is a float number While the floor division is an integer number

In [ ]:
6. The values that an operator act on are called _____?

ANSWER: OPERANDS

In [ ]:
7. Is x==5 the same as x=5? If no, state your reason

In [23]:
x==5

True

In [21]:
x = 5
print (x)

5

x==5 x is not equal to 5 becaused x does not have an assigned value of 5 which makes it false. while the x=5 is saying that x now have the value of 5 assigned to it.

In [ ]:
Can the subtraction operator act on a string value?

ANSWER: NOT POSSIBLE

In [2]:
'string' - 'string'
print(string)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

                                               **20 Built-in functions**
 
 
        bool()    - Returns the boolen value of the specified object
        dict()    - Returns a dictionary (Array)
        format()  - Format a specified value
        float()   - Returns a floating point number
        all()     - Returns True if all items in an iterable object are true
        bin()     - Returns the binary version of a number
        id()      - Returns the id of an object
        int()     - Returns an integer number
        len()     - Returns the length of an object
        list()    - Returns a list
        tuple()   - Returns a tuple
        print()   - Prints to the standard output device
        input()   - Allowing user input
        range()   - Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
        str()     - Returns a string object
        type()    - Returns the type of an object
        sum()     - Sums the items of an iterator
        pow()     - Returns the value of x to the power of y
        property  - Gets, sets, deletes a property
        set()     - Returns a new set object

WHY DID I CHOOSE DATA SCIENCE?

I picked Data science because i want to use my eagerness to be a solution provider to work. I found out that i derive joy whenever i am able to provide a means of solving a problem or soultion or basically offering help as well.


WHAT PROBLEM ARE YOU TRYING TO SOLVING USING THE KNOWLEDGE OF DATA SCIENCE

I really have been thinking about this question. I want to be able to use the knowledge to help stakeholders make good financial decisions e.g fintech.